h5
{
  text-align: center;
}
img.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.addPhoto
{
  width: 175px;
  height: 110px;
}
p.delete, .center
{
  text-align: center;
}
h4.delete, .cost, .usage, .center
{
  text-align: center;
}
ul.pagination
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
td.total_cost
{
  color: red;
}
td.fuel_usage
{
  color: #0066ff;
}
#cost_CalcFS, #used_CalcMU, #title_CalcFS, #date_CalcMU
{
  text-align: center;
}
p.col
{
  color: black;
}
.timeline>li>.timeline-item>.time.colService
{
  color: black;
}
.timeline>li>.timeline-item>.timeline-header.service
{
  color: #006666;
}
a.serviceplanCol
{
  color: black;
}
.label-warning.bl
{
  color: black !important;
}
#cost_Calc, #title_Calc
{
  text-align: center;
}
b.changeColor
{
  color: #006666;
}
li.dropdown.user.user-menu
{
  margin-right: 17px;
}
#example1_paginate
{
  float: right;
}
#reminderInsurance
{
  color: yellow;
}
.label-success
{
  margin-left: 10px;
}
.jumbotron
{
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#labelColor
{
  background-color: #009688;
}
#successHeaderModal, #informationHeaderModal
{
  text-align: center;
}
#headerIconSuccess, #headerIconInformation
{
  text-align: center;
}
.fa-check-circle-o, .fa-info-circle
{
  font-size: 2em !important;
}
